.gerenciar-quiz-content {
    display: flex;
    flex-grow: 1;
    width: 100%;
}
  
.sidebar {
    width: 0;
    flex-grow: 1;
    background-color: #393434; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.gerenciar-quiz-content.open .sidebar {
    flex-grow: 1;
    width: 20vw;
}

.gerenciar-quiz-content.open .content {  
    width: calc(100vw - 20vw);
    display: flex;
}

.content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.open-icon {
    height: fit-content;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px; 
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.close-icon {
    height: fit-content;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.conteudo-principal {
    padding: 0;
    margin: 0;
    width: 80%;
    height: 700px;
    border-radius: 12px;
    background-color: white;
}

.abrir-criar {
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    justify-content: flex-start;
}

@media screen and (max-width: 900px) {
    .gerenciar-quiz-content {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 0;
        flex-direction: column;
    }

    .gerenciar-quiz-content.open .sidebar {
        flex-grow: 0;
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .abrir-criar {
        height: auto;
        margin-top: 25px;
        justify-content: space-between;
        flex-direction: row;
    }

    .menu-icone-fechar {
        margin-bottom: 0;
    }

    .gerenciar-quiz-content.open .content {  
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    
    .conteudo-principal {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
}
