#tooltip-quiz-criacao{
    background-color: #b619b9;
    color: white;
    width: 150px;
    z-index: 2;
    text-align: start;
    font-weight: 500;
}

.a-tooltip {
    height: 30px;
    display: inline-block;
}

.listagem-quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.lista-quiz {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-quiz li {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.lista-quiz li:hover {
    background-color: white;
    color: #393434;
}

.titulo-categoria-quiz {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.titulo-text-quiz {
    font-weight: bold;
    text-transform: capitalize;
}

.delete-icon {
    color: #FF0000;
}

.quiz-selecionado {
    background-color: white;
    color: #393434 !important;
}

.warning-icon {
    color: #FF9900;
    font-size: 90px;
    margin-bottom: 12px;
}

.titulo-modal-exclusao {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.texto-modal-exclusao {
    text-align: center;
    font-size: 17px;
    margin-bottom: 40px;
}

.botoes-acao-modal-excluir {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-excluir {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    z-index: 2; /* Coloca o modal acima da sobreposição */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botao-nao-excluir-quiz {
    background-color: #b619b9; 
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.botao-nao-excluir-quiz:hover {
    transform: translateY(-1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.botao-sim-excluir-quiz {
    background-color: transparent; 
    color: #868585;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #868585;
}

.botao-sim-excluir-quiz:hover {
    transform: translateY(-1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.listagem-quizzes::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1em 1em transparent;
    border: solid 3px transparent;
    background-color: transparent;
}

.listagem-quizzes::-webkit-scrollbar {
    width: 1em;
    background-color: transparent;
}

.listagem-quizzes::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 1em 1em #696969;
    border: solid 3px transparent;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .listagem-quizzes {
        display: flex;
        align-items: center;
        flex-direction: row !important;
        overflow-x: auto;
        height: auto !important;
    }

    .lista-quiz {
        display: flex;
        width: auto;
        height: auto;
    }

    .lista-quiz li {
        align-items: center;
        justify-content: space-between;
        width: 33vw !important;
    }
    
    .lista-quiz li:hover {
        background-color: white;
        color: #393434;
    }
    
    .titulo-categoria-quiz {
        margin-left: 20px;
    }

    .quiz-selecionado {
        background-color: white;
        color: #393434 !important;
    }

    .wrapper-icon {
        margin-right: 20px;
    }
    
}