.cadastro {
    width: 730px;
    height: 750px;
    border-radius: 12px;
    background-color: white;
    margin: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.cadastro h2 {
    color: #b619b9;
    margin-top: 50px;
}
  
.formulario {
    flex-grow: 1;
    width: 365px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.registro-email {
    width: 100%;
    margin-bottom: 50px;
}

.repetir-senha-registro {
    width: 100%;
    margin-bottom: 30px;
}

.usuario-registro {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.registro-label-email {
    margin: 0px 0px 7px 5px;
}

.registro-label-senha {
    margin: 0px 0px 7px 5px;
}

.label-usuario-registro {
    margin: 0px 0px 7px 5px;
}

.label-repetir-senha-registro {
    margin: 0px 0px 7px 5px;
}

.input-usuario-registro {
    width: 98%;
    border-radius: 12px;
    border: 1px solid;
    padding: 12px;
    box-sizing: border-box;
}

.input-email-registro {
    width: 98%;
    border-radius: 12px;
    border: 1px solid;
    padding: 12px;
    box-sizing: border-box;
}

.input-senha-registro {
    width: 98%;
    border-radius: 12px;
    border: 1px solid;
    padding: 12px;
    box-sizing: border-box;
}

.registro-senha {
    width: 100%;
    margin-bottom: 30px;
}

.botao-registrar {
    border: none;
    padding: 0;
}

.entrar-responsivo {
    margin-top: 20px;
}

.possui-conta-responsivo {
    color: #b619b9;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.possui-conta-responsivo:hover {
    text-decoration: underline;
}

.error-message-registro{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}

.input-email-registro.erro {
    border: none;
    outline: 1px solid red;
}

.input-senha-registro.erro {
    border: none;
    outline: 1px solid red;
}

.input-usuario-registro.erro {
    border: none;
    outline: 1px solid red;
}

.spinner-registro {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    border: 5px solid #cc00ff;
    border-top-color: transparent ;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s infinite;
    align-self: center;
}

.overlay-registro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo semi-transparente */
    z-index: 1; /* Coloca a sobreposição acima de outros elementos */
}

.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    animation: bounce .5s alternate infinite;
}

.ball:nth-child(2){
    animation-delay: .16s;
}

.ball:nth-child(3){
    animation-delay: .32s;
}

.modal-registro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    z-index: 2; /* Coloca o modal acima da sobreposição */
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botao-erro {
    color: #b619b9;
    align-self: flex-end;
    margin-top: 20px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.botao-erro:hover {
    font-weight: bold;
}

.password-container-registro {
    position: relative;
}

.password-container-registro input {
    padding-right: 55px; /* Espaço para o ícone */
}

.password-container-registro .show-password {
    color: #808080;
    user-select: none;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
        border-top-color: #8D23E8;
        border-bottom-color: #C423E8;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .cadastro {
        width: 100%;
        border-radius: 0;
        margin: 0;
        justify-content: flex-start;
        height: 200vh;
    }

    .cadastro h2 {
        color: #b619b9;
        margin-top: 50px;
    }
    
    .input-email-registro {
        font-size: 14px;
    }

    .input-senha-registro {
        font-size: 14px;
    }

    .input-usuario-registro {
        font-size: 14px;
    }
}

@media screen and (max-width: 670px) and (orientation: landscape) {
    .cadastro {
        height: auto;
    }

    .header-registro {
        height: 30vh !important;
    }
}


@media screen and (max-width: 550px){
    .modal-registro {
        width: 100vw;
    }

    .usuario-registro {
        width: 80%;
        align-self: center;
    }

    .registro-senha {
        width: 80%;
        align-self: center;
    }

    .repetir-senha-registro {
        width: 80%;
        align-self: center;
    }

    .registro-email {
        width: 80%;
        align-self: center;
    }
    
    .botao-registrar {
        width: 80% !important;
        align-self: center;
    }

    .senha-esquecida {
        width: 80%;
        align-self: center;
    }

    .entrar-responsivo {
        width: 80%;
        align-self: center;
    }
}
