.criacao-quiz-form {
    flex-grow: 1;
    width: 60%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.titulo-quiz-criacao {
    align-items: center;
    display: flex;
    gap: 12px;
}

.titulo-text {
    align-self: flex-start;
    display: inline-block;
    margin-top: 2%;
}

.input-titulo-validation {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-titulo-criacao-quiz {
    width: 70%;
    border-radius: 12px;
    border: 1px solid;
    padding: 12px;
    box-sizing: border-box;
}

.input-titulo-criacao-quiz.erro {
    border: none;
    outline: 1px solid red;
}

.error-message-titulo-quiz{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}

.categoria-quiz-criacao {
    align-items: center;
    display: flex;
    gap: 12px;
}

.categoria-combobox-criacao {
    width: 100% !important;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid;
    text-indent: 12px;
    height: 45px;
    box-sizing: border-box;
    color: #6b6060;
}

.categoria-combobox-div-criacao {
    width: 40% !important;
}

.dificuldade-quiz-criacao {
    align-items: center;
    display: flex;
    gap: 12px;
}

.tooltip-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
}

.tooltip-wrapper a {
    width: 24px;
    height: 24px;
}

.dificuldade-combobox-criacao {
    width: 100% !important;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid;
    padding: 12px;
    text-indent: 12px;
    height: 45px;
    color: #6b6060;
    box-sizing: border-box;
}

.dificuldade-combobox-div-criacao {
    width: 40% !important;
}

.help-icon {
    color: #898989;
}

.numero-perguntas-quiz-criacao {
    align-items: center;
    display: flex;
    gap: 12px;
}

.input-numero-perguntas-criacao-quiz {
    width: 25%;
    border-radius: 12px;
    border: 1px solid;
    padding: 12px;
    box-sizing: border-box;
}

.botao-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.botao-wrapper-respostas {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.categoria-combobox-criacao {
    width: 100% !important;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid;
    padding: 12px;
    box-sizing: border-box;
}

@media screen and (max-width: 870px){
    .numero-perguntas-quiz-criacao {
        flex-direction: column;
        align-items: start;
    }

    .input-numero-perguntas-criacao-quiz {
        width: 50%;
    }

    .titulo-quiz-criacao {
        flex-direction: column;
        align-items: start;
    }

    .categoria-combobox-div-criacao{
        width: 50% !important;
    }

    .categoria-quiz-criacao {
        flex-direction: column;
        align-items: start;
    }

    .dificuldade-combobox-div-criacao {
        width: 50% !important;
    }

    .dificuldade-quiz-criacao {
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width: 730px){
    .categoria-combobox-div-criacao{
        width: 100% !important;
    }

    .input-titulo-criacao-quiz {
        width: 100%;
    }

    .input-numero-perguntas-criacao-quiz {
        width: 100%;
    }

    .dificuldade-combobox-div-criacao {
        width: 100% !important;
    }
}