.header-ranking {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #393434;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.logo-ranking {
    text-transform: capitalize;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.logo-ranking span {
    user-select: none;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    margin-left: 4px;
    padding: 5px;
    color: #393434;
} 

.sizedbox-ranking {
    width: 150px;
    height: 45px;
} 

.container-ranking-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
} 

.container-ranking-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 600px;
    height: 700px;  
    background-color: white;
    border-radius: 12px;
    margin-bottom: 3%;
    border: 1px solid white;
}

.ranking-span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
    width: 100%;
    height: 70px;
    color: #b619b9;
}

.row-ranking {
    width: 100%;
    border: 1px solid #b619b9;
    overflow: hidden;
}

.local-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    border: 5px solid #cc00ff;
    border-top-color: transparent ;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s infinite;
    justify-self: center;
}

.ranking-atual {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 81px;
}

.ranking-atual span {
    font-weight: 500;
}

.ranking-atual-texto-numero {
    color: #b619b9;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
        border-top-color: #8D23E8;
        border-bottom-color: #C423E8;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    100%{
        transform: rotate(360deg);
    }
}
  

@media screen and (max-width: 768px) {
    .header-ranking {
        height: 20vh;
    } 

    #menu-options-ranking {
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
    .container-ranking-table {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
}
