.botao-criar-conta {
  border: none;
  margin-right: 2%;
}

.header-login {
  position: relative;
  width: 100%;
  height: 130px;
  background-color: #393434;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.botao-criar-conta {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: auto;
  align-items: center;
  position: absolute;
  top: 35%;
  right: 10%;
  text-decoration: none;
} 

.logo-container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Alinha o conteúdo ao centro absoluto */
}

.logo-login {
  text-transform: capitalize;
  color: white;
  cursor: default;
  user-select: none;
}

.logo-login span {
  text-transform: uppercase;
  background-color: white;
  border-radius: 10px;
  margin-left: 4px;
  padding: 5px;
  color: #393434;
}

.sizedbox-login {
  width: 150px;
  height: 45px;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center
}

@media screen and (max-width: 768px){
  .header-login {
    position: initial;
    flex-direction: row;
    height: 15vh !important;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container-login {
    position: initial;
    padding: 0 !important;
    margin: 0 0 0 10% !important;
    transform: none;
  }

  .botao-criar-conta {
    position: initial;
    margin: 0 10% 0 0 !important;
  }

  .container-login {
    height: 100vh;
  }
}

@media screen and (max-width: 710px) {
  .header-login {
    justify-content: center;
    align-items: center;
    height: 15vh !important;
  }

  .logo-container-login {
    margin: 0 !important;
  }
}
