.botao-login {
    border: none;
    outline: none;
    margin-right: 2%;
  }
  
  .header-registro {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #393434;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .botao-login {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
    align-items: center;
    position: absolute;
    top: 35%;
    right: 10%;
    text-decoration: none;
  } 

  .logo-container-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Alinha o conteúdo ao centro absoluto */
}
  
  .logo-registro {
    text-transform: capitalize;
    color: white;
    cursor: default;
    user-select: none;
  }
  
  .logo-registro span {
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    margin-left: 4px;
    padding: 5px;
    color: #393434;
  }
  
  .sizedbox-registro {
    width: 150px;
    height: 45px;
  }
  
  .container-registro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
  }
  
  @media screen and (max-width: 768px){
    .header-registro {
      position: initial;
      flex-direction: row;
      height: 15vh !important;
      justify-content: space-between;
      align-items: center;
    }
  
    .logo-container-registro {
      position: initial;
      padding: 0 !important;
      margin: 0 0 0 10% !important;
      transform: none;
    }
  
    .botao-login {
      position: initial;
      margin: 0 10% 0 0 !important;
    }
  
    .container-registro {
      height: 100vh;
    }
  }
  
  @media screen and (max-width: 710px) {
    .header-registro {
      justify-content: center;
      align-items: center;
      height: 15vh !important;
    }
  
    .logo-container-registro {
      margin: 0 !important;
    }
  }


  /* @media screen and (max-width: 768px) and (orientation: portrait) {
    .header-registro {
      flex-direction: column;
      justify-content: space-around;
      height: 35%;
    }
  
    .botao-login {
      margin-right: 0;
      margin-bottom: 5%;
    }
  
    .cadastro {
      width: 80%;
    }
    
    .botao-login {
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
  }

  @media screen and (max-width: 768px) and (orientation: landscape){
    .header-registro {
      flex-direction: row;
      height: 30vh !important;
      justify-content: center;
    }
  
    .logo-container-registro {
      top: 50% !important;
      left: 20% !important;
    }
  
    .logo-registro {
      padding: 0 !important;
      margin: 0 !important;
    }
  
    .botao-login {
      position: initial;
      margin-top: 0 !important;
      margin-right: 10%;
    }
  } */

