.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0); /* Cor de fundo semi-transparente */
    z-index: 1; /* Coloca a sobreposição acima de outros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 120px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.loader span {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: auto;
}

.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    animation: bounce .5s alternate infinite;
}

.ball:nth-child(2){
    animation-delay: .16s;
}

.ball:nth-child(3){
    animation-delay: .32s;
}

@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }
    to {
        transform: translateY(-50px) scaleX(1);
    }
}