.header-home {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #393434;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 7vh;
    padding-bottom: 7vh;

}

.logo-container-home {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: calc(50vw - 75px);
}


#menu-options-home {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    left: calc(85vw - 150px);
    z-index: 1;
    position: relative;
}

.overlay-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    z-index: 1; /* Coloca a sobreposição acima de outros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-home {
    text-transform: capitalize;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}

.logo-home span {
    user-select: none;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    margin-left: 4px;
    padding: 5px;
    color: #393434;
}

.sizedbox-home {
    width: 150px;
    height: 45px;
}

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#container-menu {
    width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none; /* Inicialmente oculto */
  }

  #container-menu.visible {
    display: block;
  }

.user-text-home {
    margin-left: 28.75px;
    user-select: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#balao-retangular-menu-home {
    background-color: white;
    width: 100%; 
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.telhado-menu-home {
    margin-left: 60%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
}

.user-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minha-conta-home {
    display: flex;
    padding: 20px 0 10px 15px;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.minha-conta-home:hover{
    background-color: #dcdcdc;
}

.sair-home {
    display: flex;
    padding: 10px 0 20px 15px;
    font-weight: bold;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sair-home:hover {
    background-color: #dcdcdc;
}

.container-ranking-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 4vh;
}

.container-ranking-home-content {
    width: 700px;
    background-color: white;
    height: 120px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-ranking-home-content:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.container-ranking-home-content span {
    font-weight: bold;
    color: #393434;
    font-size: 26px;
}

.ranking-img {
    width: 100px;
}

.categorias-populares {
    width: 700px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.categorias-populares span {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 4vh;
    margin-top: 5vh;
    text-align: center;
}

.botoes-categoria {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    margin-bottom: 5vh;
}

.container-botao-jogar {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-jogar {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 5vh;
}

@media screen and (max-width: 768px) {
    .container-ranking-home {
        width: 100%;
    }

    .container-ranking-home-content {
        width: 90%;
    }

    .ranking-img {
        user-select: none;
        width: 20%;
        margin-right: 10%;
    }

    .container-ranking-home-content span {
        width: 50%;
        user-select: none;
        font-weight: bold;
        color: #393434;
        font-size: 24px;
    }

    .categorias-populares {
        width: 90%;
    }

    .container-botao-jogar {
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .logo-container-home {
        left: 10vw;
    }

    #menu-options-home {
        right: 10vw;
    }  
}
  
@media screen and (max-width: 500px) and (min-height: 500px) {
    .header-home {
        padding-top: 8vh;
        padding-bottom: 8vh;
    }

    .logo-container-home {
        left: calc(50vw - 75px);
        top: 4vh;
    }

    #menu-options-home {
        left: calc(50vw - 84px);
        top: 6vh;
    }  
}
